header {
    background-color: #25aae1;
    height: 75px;
    width: 100vw;
    padding: 10px;
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
}